/ Page Content
.container.padding-50
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        Contact
        %span Artolutions
  / /.row
  / Content Row
  .row
    / Map Column
    .col-md-8
      / Embedded Google Map
      %iframe{:frameborder => "0", :height => "400px", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?hl=en&ie=UTF8&ll=37.0625,-95.677068&spn=56.506174,79.013672&t=m&z=4&output=embed", :width => "100%"}
    / Contact Details Column
    .col-md-4
      %h3 Contact Details
      %p
        3481 Melrose Place
        %br>/
        Beverly Hills, CA 90210
        %br/
      %p
        %i.fa.fa-phone
        = succeed ":" do
          %abbr{:title => "Phone"} P
      %p
        %i.fa.fa-envelope-o
        = succeed ":" do
          %abbr{:title => "Email"} E
        %a{:href => "mailto:name@example.com"} name@example.com
      %p
        %i.fa.fa-clock-o
        = succeed ":" do
          %abbr{:title => "Hours"} H
      %ul.list-unstyled.list-inline.list-social-icons
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook-square.fa-2x
        %li
          %a{:href => "#"}
            %i.fa.fa-linkedin-square.fa-2x
        %li
          %a{:href => "#"}
            %i.fa.fa-twitter-square.fa-2x
        %li
          %a{:href => "#"}
            %i.fa.fa-google-plus-square.fa-2x
  / /.row
  .row#homepage-form-wrapper{style: 'display:none;'}
    .col-lg-12
     %form{"accept-charset" => "UTF-8", action: "/visitors", method: "POST", roll: "form", id: 'visitor_form', "data-remote" => "true"}
       = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)

       %form#contactForm{:name => "sentMessage", :novalidate => ""}
         .row
           .col-md-6
             .form-group
               %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text", name: 'visitor[name]'}
               %p.help-block.text-danger
             .form-group
               %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email", name: 'visitor[email]'}
               %p.help-block.text-danger
             .form-group
               %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel", name: 'visitor[phone]'}
               %p.help-block.text-danger
           .col-md-6
             .form-group
               %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => "", name: 'visitor[message]'}
               %p.help-block.text-danger
           .clearfix
           .col-lg-12.text-center
             %br
             %br
             #success
             %button.page-sc