.social-icons-mobile.mobile-show
  %a.item.fa.fa-youtube{href: 'https://www.youtube.com/user/theartolution', target: '_blank'}
  %a.item.fa.fa-facebook{href: 'https://www.facebook.com/artolution', target: '_blank'}
  %a.item.fa.fa-instagram{href: 'https://www.instagram.com/artolution/', target: '_blank'}
  %a.item.fa.fa-twitter{href: 'https://twitter.com/artolution', target: '_blank'}
%hr
.col-md-12
  #footer-top
    .col-md-2#footer-logo.mobile-hide
      = link_to image_tag(asset_url('artolution.png')), root_path
    
    .col-md-10.text-center#footer-items
      %a.footer-element{href: '/about'}
        ABOUT US
      %a.footer-element{href: '/contact'}
        CONTACT US
      %a.footer-element{href: '/projects'}
        PROJECTS
      %a.footer-element{href: '/jobs'}
        JOBS 
      %a.footer-element{href: '/press'}
        PRESS
      

  .col-md-12.relative
    .note
      ="© The Artolution #{DateTime.now.year}"
    .note
      Reach us anytime at 
      = mail_to "info@artolution.com"


.col-md-12.mobile-show#footer-logo-2.relative
  = link_to image_tag(asset_url('artolution.png')), root_path

.social-icons
  %a.item.fa.fa-twitter{href: 'https://twitter.com/artolution', target: '_blank'}
  %a.item.fa.fa-facebook{href: 'https://www.facebook.com/artolution', target: '_blank'}
  %a.item.fa.fa-instagram{href: 'https://www.instagram.com/artolution/', target: '_blank'}
  %a.item.fa.fa-youtube{href: 'https://www.youtube.com/user/theartolution', target: '_blank'}