%nav.navbar.navbar-default.navbar-fixed-top
  #header-container.container
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Artolution
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.header-elements
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{:href => "#page-top"}
        %li
          %a.page-scroll{:href => "/about"} About Us
        %li
          %a.page-scroll{:href => "/projects"} Projects
        %li
          %a.page-scroll{:href => "/partners"} Partners
        %li
          %a.page-scroll{:href => "/team"} Team
        %li
          %a.page-scroll{:href => "/contact"} Contact
        %li
          %a.page-scroll{:href => "https://artolutionorg.simpledonation.com/"} Donate