.well.relative
  .row
    .col-md-8.text-center
      %p Want to be a part of an NGO with projects that consistently break down borders around the world?
      %i We are constantly expanding our team.
    .col-md-4
      %a.btn.btn-lg.btn-default.btn-block{:href => "/contact"} Reach Out