.container.text-center#about-us-container
  .page-header
    %h4
      WHO WE ARE
    .hr-short
    %i
      An international Public Arts Network, creating interactive community based art projects
  
  .col-md-12
    %h2
      WE GIVE VOICE THROUGH ART
  .col-md-12
    .text-block
      The Artolution has completed over
      %span
        150 
      international art projects with a focus on trauma relief, community building, womens & youth empowerment, and trans-disciplinary art. We have taught & facilitated over 
      %span
        20,000 
      people how to paint, draw, dance, and sing.
      %br
      .mobile-text-center
        %a.btn{href: '/about'}
          LEARN MORE ABOUT US
