.container.text-center#about-us-container
  .page-header
    %h4
      WHO WE ARE
    .hr-short
    %i
      Our interactive events allow consumers to enter the world of the DJ.
  
  .col-md-6
    %h2.text-right#mobile-about-title
      DJING YOUR FAVORITE EVENTS SINCE 2002
  .col-md-6.text-left
    .text-block
      Scratch has booked DJ's for over 
      %span
        75,000 events,
      entertained over
      %span 
        27 million guests,
      taught over
      %span
        500,000 people
      how to DJ & produce their own music, and has been featured in national press outlets including CNN, MTV, ABC, FOX, The NY Times, The Wall Street Journal, and Forbes
      %br
      .mobile-text-center
        %a.btn{href: '/about'}
          LEARN ABOUT US
