#contact-us-container.text-center
  #contact-us
    .contact-title
      %h3
        Connect with the Artolution
      .col.col-md-6
        %a{href: '/contact'}
          .btn
            Get Involved
      .col.col-md-6
        %a{href: '/dontate'}
          .btn
            Donate 
      