.text-center
  .page-header.services-header
    %h4
      Project Categories
    .hr-short
    %i
      Our projects all share the theme of local empowerment through community art

.services-container.text-center
  - @categories.each do |category|
    .col.col-md-6.black-back
      %a.service-brick.relative{style: "background-image: url(#{category.image});  no-repeat center center", href: "/category/#{category.slug}"}
      .brick-title
        = category.name.upcase
      .brick-copy
        = category.description


  