.mobile-hide
  .text-center
    .page-header.services-header
      %h4
        DJ & MUSICIAN TALENT NETWORK
      .hr-short
      %i
        Scratch Events has the largest network of DJ's & musicians in the world.

  #talent-network-container.relative
    .toggle-box
      #map
      .talent-copy.talent-right
        75,000 events in all major cities in the US & over 35 countries worldwide

    .toggle-box
      #faces
      .talent-copy.talent-left
        Over 1,200+ of highly-screened DJ's & musicians ready to work for you

  
/ .text-center.relative
/   .page-header.services-header
/     %h4
/       KNOW OF QUALIFIED DJ & MUSIC TALENT?
/     .hr-short
/     %i
/       Ready to become part of a globally employed network of DJ's & Musicians
/     %br
/     %a.btn{href: "https://christopher50.typeform.com/to/NdMsBT", target: '_blank'}
/       START APPLICATION
