.mobile-hide
  #talent-network-container.relative
    .toggle-box
      #map
      .talent-copy.talent-right
        Arists, Educators, Volunteers, Alumni, local staff

    .toggle-box
      #faces
      .talent-copy.talent-left
        Organizations, NGO's, Project Donors, Governments

  
/ .text-center.relative
/   .page-header.services-header
/     %h4
/       KNOW OF QUALIFIED DJ & MUSIC TALENT?
/     .hr-short
/     %i
/       Ready to become part of a globally employed network of DJ's & Musicians
/     %br
/     %a.btn{href: "https://christopher50.typeform.com/to/NdMsBT", target: '_blank'}
/       START APPLICATION
