#testimonial-wrapper
  .text-center
    .page-header
      %h4
        TESTIMONIALS
      .hr-short
      %i
        Our event production capabilities and unique music programs help top brands connect with their target consumers.

    .relative
      .col-md-3.testimonial
        = image_tag asset_url('brand_logos/9-h&m.png'), style: 'width: 100px; max-width: 100%;'

        .quote
          'When we use Scratch, there is a positive change in the atmosphere of the stores, which translates to a substantial increase in sales as well as our cool factor!'
        .client
          Communication & Press Department
          %br
          ="- TONY EVERETT"

      .col-md-3.testimonial
        = image_tag asset_url('brand_logos/vans.jpg'), style: 'width: 150px; max-wdth: 100%;'

        .quote
          'It has been a pleasure working with Scratch Events for the past few years. They make my job of creating buzz-worthy grand opening events so much easier!'
        .client
          Manager Of Retail Marketing
          %br
          ="- CARRIE PHILLIPS"

      .col-md-3.testimonial
        = image_tag asset_url('brand_logos/bloom.jpg'), style: 'width: 300px; max-width: 100%; margin-top: 5px; margin-bottom: 5px;'
        .quote
          'Our goals are to provide animation in store, with the intention of also driving sales. Scratch Events has assisted us with both initiatives.'
        .client
          Manager Of Special Events
          %br
          ="- JESSICA RUPNIK"

      .col-md-3.testimonial.mobile-hide
        = image_tag asset_url('brand_logos/loft.jpg'), style: 'width: 200px; max-wdth: 100%;'
        .quote
          'LOFT is ecstatic to have such a strong relationship with Scratch. We see a greater ROI from stores that have a DJ compared to stores that do not.'
        .client
          Manager Of In-Store Marketing
          %br
          ="- MEGHAN O’MALLEY"